<div class="title" routerLink="/yeui">按钮</div>

<ye-button color="primary" margin="12px" (click)="test()">测试1</ye-button>
<ye-button color="primary" margin="12px" [loading]="true" [disabled]="true" (click)="test()" style="margin-top: 15px;">测试2</ye-button>
<ye-button color="primary" margin="12px" [loading]="true" (click)="test()">测试3</ye-button>
<ye-button color="primary" margin="12px" [disabled]="true" (click)="test()">测试4</ye-button>

<ye-button color="warn" margin="12px" (click)="test()">测试5</ye-button>
<ye-button color="warn" margin="12px" [loading]="true" [disabled]="true" (click)="test()">测试6</ye-button>
<ye-button color="warn" margin="12px" [loading]="true" (click)="test()">测试7</ye-button>
<ye-button color="warn" margin="12px" [disabled]="true" (click)="test()">测试8</ye-button>

<ye-button color="default" margin="12px" (click)="test()">测试9</ye-button>
<ye-button color="default" margin="12px" [loading]="true" [disabled]="true" (click)="test()">测试10</ye-button>
<ye-button color="default" margin="12px" [loading]="true" (click)="test()">测试11</ye-button>
<ye-button color="default" margin="12px" [disabled]="true" (click)="test()">测试12</ye-button>

<ye-button-mini color="primary" margin="12px" (click)="test()">测试13</ye-button-mini>
<ye-button-mini color="primary" margin="12px" [loading]="true" [disabled]="true" (click)="test()">测试14</ye-button-mini>
<ye-button-mini color="default" margin="12px" [loading]="true" (click)="test()">测试15</ye-button-mini>
<ye-button-mini color="warn" margin="12px" [disabled]="true" (click)="test()">测试16</ye-button-mini>