.imgs{
    position: relative;width: 100%;height: 15em;
    overflow: hidden;
}
.img{
    position: absolute;
    width: 100%;
    height: 100%;
    background: pink;
    transition: 0.2s;
}
.btn{
    display: inline-block;
    padding: 1em 2em;font-size: 1em;border-radius: 0.5em;
    border: 1px solid #ddd;cursor: pointer;
    margin: 1em;background: #eee;box-shadow: 0.1em 0.1em 0.2em #aaa;
}
.btn:active{
    background: #eee;
    box-shadow: none;
}
