<div class="title" routerLink="/yeui">弹窗</div>

<ye-button color="primary" margin="12px" (click)="Alert()">确认框</ye-button>
<ye-button color="primary" margin="12px" [loading]="true" [disabled]="true" (click)="Dialog()" style="margin-top: 15px;">对话框</ye-button>
<ye-button color="primary" margin="12px" [loading]="true" (click)="Toast()">吐司</ye-button>
<ye-button color="primary" margin="12px" [disabled]="true" (click)="Load()">加载</ye-button>

<ye-button color="primary" margin="12px" [disabled]="true" (click)="Custom()">自定义弹窗</ye-button>